{% extends 'base.html' %}

{% block etatactuel %}
Foire aux questions
{% endblock etatactuel %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="faq-wrapper">
      <div class="faq-inner">
        <div class="faq-item">
          <h3>
            Q1 : Comment fonctionne notre système de gestion de l'eau ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Notre système de gestion de l'eau utilise des capteurs IoT pour surveiller la consommation d'eau en temps réel. Les données sont collectées et analysées pour vous fournir des informations précises sur votre consommation d'eau.
          </div>
        </div>
        <hr>
        <div class="faq-item">
          <h3>
            Q2 : Comment puis-je accéder à mes données de consommation d'eau ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Vous pouvez accéder à vos données de consommation d'eau à partir de notre tableau de bord en ligne. Il vous suffit de vous connecter à votre compte pour voir vos données en temps réel.
            </div>
        </div>
        <hr>
        <div class="faq-item">
          <h3>
            Q3 : Puis-je recevoir des alertes en cas de fuite d'eau ou de consommation anormale ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Oui, notre système peut vous envoyer des alertes par e-mail ou par SMS en cas de fuite d'eau ou de consommation anormale, vous permettant de réagir rapidement.
          </div>
        </div>
        <hr>
        <div class="faq-item">
          <h3>
            Q4 : Comment puis-je économiser de l'eau avec votre système ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            	Réponse : Notre système fournit des recommandations personnalisées pour vous aider à économiser de l'eau. Vous pouvez également configurer des seuils de consommation pour suivre votre budget d'eau.
          </div>
        <hr>
        <div class="faq-item">
          <h3>
            Q5 : Est-ce que votre système est compatible avec d'autres appareils IoT ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Oui, notre système est conçu pour être compatible avec d'autres appareils IoT, ce qui vous permet d'intégrer facilement d'autres systèmes de gestion intelligente.
            </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q6 : Comment puis-je installer vos capteurs IoT ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : L'installation de nos capteurs IoT est simple. Suivez les instructions fournies avec le produit ou consultez notre guide d'installation en ligne.
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q7 : Quelle est la durée de vie de vos capteurs IoT ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : La durée de vie de nos capteurs IoT varie en fonction de l'utilisation, mais elle est généralement de plusieurs années. Nous offrons également une garantie pour assurer la qualité et la performance.
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q8 : Comment puis-je contacter votre service client en cas de problème ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Vous pouvez nous contacter à tout moment en utilisant notre formulaire de contact sur le site web ou en appelant notre service clientèle au [numéro de téléphone].
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q9 : Quels sont les avantages de ce projet pour les industries ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Ce projet offre de nombreux avantages aux industries, notamment la possibilité de déterminer avec précision la quantité d'eau consommée par section de l'entreprise. Cela permet une gestion plus précise du budget alloué à l'eau, des économies grâce à la prévention du gaspillage, et une visibilité claire sur la consommation d'eau. De plus, les alertes avertissent en cas de surconsommation, de gaspillage ou de fuite, permettant une réaction rapide.
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q10 : Comment fonctionne le dispositif ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Le dispositif comprend des capteurs intelligents qui mesurent en continu le débit et la pression de l'eau dans différentes sections de l'entreprise. Les données sont transmises sans fil à une plateforme en ligne accessible depuis n'importe quel appareil connecté à Internet. Cette plateforme analyse les données et les affiche sous forme de graphiques, de tableaux et d'indicateurs pertinents. Elle permet également de recevoir des alertes en cas d'anomalie, de consulter des prévisions basées sur des modèles statistiques et de recevoir des recommandations personnalisées pour une gestion optimale de l'eau.
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q11 : Quel est le coût du dispositif ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Pour connaître le coût du dispositif, nous vous invitons à remplir un formulaire de commande sur notre site web [lien vers le formulaire]. Le coût peut varier en fonction de la taille de l'entreprise, du nombre de sections où les capteurs seront installés et du volume estimé d'eau consommé. Un conseiller du projet vous contactera pour confirmer votre commande et fixer un rendez-vous d'installation.
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q12 : Comment commander le dispositif ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Pour commander le dispositif, vous devez vous rendre sur notre site web [lien vers le formulaire de commande] et remplir le formulaire en ligne avec les informations requises, telles que le nom de l'entreprise, le secteur d'activité, le nombre de sections, le volume estimé d'eau consommé, et le mode de paiement souhaité. Une fois le formulaire validé, un conseiller du projet vous contactera pour finaliser la commande.
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>
            Q13 : Comment utiliser la plateforme ?
            <span class="faq-plus">&plus;</span>
          </h3>
          <div class="faq-body">
            Réponse : Pour utiliser la plateforme, suivez ces étapes :
              <br>1.	Connectez-vous avec vos identifiants et mot de passe fournis lors de la commande.
              <br>2.	Sur la page d'accueil, consultez le tableau de bord qui affiche les principales informations sur votre consommation d'eau, telles que le volume total, le volume par section, le coût, les écarts, les pics, etc.
              <br>3.	Utilisez le menu latéral pour accéder à des fonctionnalités supplémentaires telles que les alertes, les prévisions et les conseils.
              <br>4.	Le menu supérieur vous permet de modifier votre profil, de contacter le support ou de vous déconnecter en toute sécurité.
          </div>
        </div><hr>
        <div class="faq-item">
          <h3>Q14 : Pourquoi faire une prévision ?</h1>
          <div class="faq-body">
            <br>Pour s'organiser, une entreprise a besoin de prévoir sur ses futurs beoins. Dans le cas de cette fonctionnalité elle vous permettra 
                de determiner votre besoin en terme de consommation durant les prochains jours à court termen à moyen terme durant les prochains mois
                et à long terme durant les années à venir.
            <br>Bientot dans la prevision, nous allons tenir compte de d'autre parametre telle que les temperatures moyens, les besoins de la population
          </div>
        </div><hr>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(".faq-plus").on('click',function(){
    $(this).parent().parent().find('.faq-body').slideToggle();
  });
</script>

{% endblock content %}





{% block footer %}

{% endblock footer %}